/*
canvas {
    width: 800px;
    height: 600px;
}
 */

p.testResult {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 2px solid black;
    padding: 10px;
}

p.testResult label {
}

p.testResult img {
    float: right;
}

.clearfix {
    overflow: auto;
}